<div class="container">
	<div class="row clearfix">
		<div class="col-md-3 column">
		</div>
		<div class="col-md-6 column">
			<div class="btn-group">
				 <button class="btn btn-default btn-success" type="button"><em class="glyphicon glyphicon-align-left"></em> 左</button>
				 <button class="btn btn-default btn-success" type="button"><em class="glyphicon glyphicon-align-center"></em> 中</button>
			</div>
		</div>
		<div class="col-md-3 column">
			 <button type="button" class="btn btn-default btn-success">按钮</button>
		</div>
	</div>
</div>